<!DOCTYPE html>
<html>
<head>
	<title>New password</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
		<link rel="stylesheet" href="{{url_for('static',filename='stylenewpass.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
                   {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p class="ero">{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <div class="container">

		<div class="login-content">
			<form action="/first_admin" id="basic-form" method="POST" >

				<h2 class="title">Admin Login</h2>
<!--				<p style="font-size: 14px;margin-right: 9px;">Please create a new password that you don't use on any site</p>-->
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>

					  <div class="div">
<!--           		   		<h5>Create new password</h5>-->
           		   		<input type="text" class="input" name="email" placeholder="Enter your mail" id="password" required>
<!--							  <span>-->
<!--								<i class="fa fa-eye" id="eye" onclick="toggle()"></i>-->
<!--							   </span>-->
           		   </div>
           		</div>

				   <div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
<!--           		    	<h5>Confirm your Password</h5>-->
           		    	<input type="password" class="input" name="password" placeholder="Enter your password" id="confirmpassword">
            	   </div>

            	</div>
            	<input type="submit" class="btn" value="Login">

            </form>
        </div>
    </div>

    <script>
    const inputs = document.querySelectorAll(".input");


		function addcl(){
			let parent = this.parentNode.parentNode;
			parent.classList.add("focus");
		}

		function remcl(){
			let parent = this.parentNode.parentNode;
			if(this.value == ""){
				parent.classList.remove("focus");
			}
		}


		inputs.forEach(input => {
			input.addEventListener("focus", addcl);
			input.addEventListener("blur", remcl);
		});

		  </script>
</body>
</html>